# 1. 구구단 함수

1.1. 구구단 전체 출력

In [12]:
print
for x in range(1, 10):
    for y in range(1, 10):
        print(x,"x", y, "=", x*y)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

1.2. 구구단 단별 출력 (i에 입력)

In [14]:
i=5

for o in range(1,10) :
  print(i*o)

5
10
15
20
25
30
35
40
45

# 2. 홀수/짝수 판별

In [39]:
a=517

if(a%2==1):
  print("홀수")
else:
    print("짝수")

홀수

# 3. 평균

In [48]:
import numpy as np

In [43]:
a=list(range(110, 990, 5))

In [49]:
b=np.array(a)

In [50]:
b

array([110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170,
       175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235,
       240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300,
       305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365,
       370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430,
       435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495,
       500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560,
       565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625,
       630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690,
       695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755,
       760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820,
       825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885,
       890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950,
       955, 960, 965, 970, 975, 980, 985])

In [52]:
평균값=np.mean(b)

In [54]:
print (평균값)

547.5